@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

$page-bg: #000d25;
$dashboard-panel-bg: #222240;
$sidebar-bg: #13132b;

$primary: #ed1690;
$secondary: #00ade2;
$secondary-bright: #3954ff;
$secondary-bright-light: rgba(57, 84, 255, 0.051);
$secondary-text: #00ade299;

* {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.more-icon {
  font-size: 1.2rem;
}

.btn-icon {
  margin-right: 0.5rem;
}
