// SIDEBAR STYLES
.sidebar {
  background-color: $sidebar-bg;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  min-height: 30rem;
  height: 100vh;
  align-items: center;
}

.sidebar__brand {
  padding: 1rem;
}

.sidebar__nav {
  flex: 1;
  width: 100%;
}

.sidebar__navlist-link {
  display: flex;
  align-items: center;
  width: 7rem;
  color: $secondary-text;
}

.sidebar__navlist-link:hover {
  color: $secondary;
}
.sidebar__navlist {
  padding: 2rem 0;
  width: 100%;
}
.sidebar__navlist-item:hover {
  background-color: $secondary-bright-light;
}

.sidebar__navlist-item {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.sidebar__navlist-item:hover > .sidebar__navlist-item-hover-indicator {
  display: block;
}
.sidebar__navlist-item-hover-indicator {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.25rem;
  background-color: $secondary-bright;
}
.sidebar__btn-container {
  padding: 1rem;
  margin-bottom: 4rem;
}

.sidebar__navlist-icon {
  margin-right: 1rem;
  font-size: 1.25rem;
}

// TOPBAR STYLES

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.topbar__title {
  font-size: 2rem;
  font-weight: 500;
}

.topbar__avatar {
  display: flex;
}

.topbar__actions-container {
  display: flex;
  min-width: 10rem;
  justify-content: space-between;
  color: $primary;
}
.topbar__title-container--mobile {
  display: none;
}
.topbar__btn-container {
  display: none;
}

.topbar__avatar-img-container {
  margin-right: 0.25rem;
}

.topbar__actions-container {
  display: flex;
}

// Data WIdget STYLES
.data-widget__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;
  width: 50%;
  margin-right: 1rem;
}

.data-widget__list-item {
  padding: 0.75rem;
  background-color: $dashboard-panel-bg;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.23);
}

.data-widget__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-widget__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.data-widget__value {
  text-align: right;
  font-weight: 700;
}

.data-widget__title {
  font-size: 0.85rem;
  font-weight: 500;
}
.data-widget__text {
  font-size: 0.75rem;
}

// CHART WIDGET STYLES
.chart-widget {
  aspect-ratio: 16/9;
  padding: 1rem;
  width: 50%;
  background-color: $dashboard-panel-bg;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.chart-widget.chart-widget--area {
  width: 70%;
  aspect-ratio: 16/7.5;
}
.chart-widget__title {
  font-size: 0.85rem;
  font-weight: 500;
}

.chart-widget__title-container {
  flex: 0.35;
}
.chart-widget__header {
  display: flex;
  margin-bottom: 1rem;
}

.chart-widget__actions {
  display: flex;
  align-items: center;
}

.chart-widget__child {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.chart-widget__legend {
  padding: 0 0.25rem;
}

.chart-widget__legend-text {
  font-size: 0.6rem;
}

.chart-widget__legend-indicator {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  margin: 0 0.5rem;
}

// PERFORMANCE_WIDGET

.performance-widget {
  padding: 1rem;
  background-color: $dashboard-panel-bg;
  margin-left: 1rem;
  width: 30%;
  border-radius: 1rem;
}

.performance-widget__list-item {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.performance-widget__list-term-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.performance-widget__image-container {
  border: 3px solid white;
  border-radius: 8px;
  margin-right: 1rem;
  position: relative;
}

.performance-widget__top-member-star-img {
  position: absolute;
  top: -10px;
  right: -10px;
}
.performance-widget__text-box {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.performance-widget__member-name {
  font-size: 0.9rem;
  line-height: 1;
  font-weight: bold;
}

.performance-widget__list-term-member-title {
  font-size: 0.65rem;
  font-weight: 400;
  color: #9090babd;
}

.performance-widget__member-rating {
  padding: 0.15rem 0.5rem;
  font-size: 0.6rem;
  background-color: #113c5e80;
  border-radius: 4px;
  font-weight: bold;
  color: $secondary;
}
.performance-widget__title {
  font-size: 0.85rem;
  font-weight: 500;
}

.performance-widget__header {
  margin: 0.5rem 0 1rem;
}

.performance-widget__member-name {
  line-height: 1;
  line-height: 1.25;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: none;
}

.circle-text {
  font-size: 0.75rem;
  font-weight: bold;
}

// -------------------------------- Mobile and Tablet Style

/* Inline #0 | http://localhost:5173/ */
@media screen and (max-width: 768px) {
  .panel-section__top,
  .panel-section__bottom {
    display: block;
    padding: 0;
    flex-direction: column;
  }
  .topbar__btn-container {
    display: block;
  }
  .data-widget__list {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
  .chart-widget {
    width: 100%;
    margin: 1rem 0;
  }
  .chart-widget.chart-widget--area {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .sidebar.isMenuOpen {
    position: absolute;
    display: flex;
  }
  .topbar__title-container--mobile {
    display: block;
    .topbar__title {
      font-size: 1.5rem;
    }
  }

  .performance-widget {
    margin-left: 0rem;
    width: 100%;
  }

  .chart-widget.mr-4.chart-widget--area {
    width: 100%;
  }

  div.chart-widget:nth-child(2) > div:nth-child(2) {
    height: 80%;
  }

  /* Element | http://localhost:5173/ */

  .topbar__title-container {
    display: none;
  }

  .chart-widget__legends {
    display: none;
  }

  .topbar {
    padding: 0;
    align-items: center;
  }
}

/* Inline #0 | http://localhost:5173/ */

@media screen and (max-width: 768px) {
  .topbar__btn-container.topbar__btn-container--close-Menu {
    position: absolute;
    right: 0;
    top: 1rem;
  }
  .page.isMenuOpen {
    overflow-y: hidden;
  }
}
